<a href="https://colab.research.google.com/github/Yungchi1020/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print ("1.2.3")

1.2.3

In [5]:
i = range(5)

In [6]:
print(type(i))

<class 'range'>

In [7]:
print(i)

range(0, 5)

In [8]:
print(list(i))

[0, 1, 2, 3, 4]

In [9]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [10]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [12]:
c = range(3,8,1)
print(list(c))
d = range(3,8,2)
print(list(d))
e = range(8,3,-1)
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [23]:
f = range(9)
print(list(f))
g = range(1,10)
print(list(g))
h = range(1,10,2)
print(list(h))
i = range(10,0,-2)
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [24]:
for n in range(3):
    print(n)

0
1
2

In [25]:
for n in range(10):
    print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [29]:
for l in range(0,10,2):
    print(l, end=",")

0,2,4,6,8,

In [33]:
p = int(input("請輸入一個整數:"))
for p in range(1,p+1):
    print(p, end=" ")

請輸入一個整數:5
1 2 3 4 5

In [34]:
z = int(input("請輸入一個整數:"))
for z in range(0,z+1):
    print(z, end=" ")

請輸入一個整數:12
0 1 2 3 4 5 6 7 8 9 10 11 12

In [36]:
for u in range(3):
  print(u, end=",")

0,1,2,

In [40]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [42]:
sum =0
for i in range(10,1,-2):
  sum = sum+i
print(sum)

30

In [48]:
q = int(input("請輸入一個正整數:"))

sum =0
for q in range(0,q+1):
  sum = sum+q
print("1到",q,"的整數和為",sum)

請輸入一個正整數:10
1到 10 的整數和為 55

In [49]:
q = int(input("請輸入一個正整數:"))

sum =0
for q in range(0,q+1):
  sum = sum+q
print("1到",q,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1275

In [67]:
q = int(input("請輸入一個正整數:"))
sum =0
for q in range(1,q+1):
  sum = sum+q

  print("1到",q,"的整數和為",sum)

請輸入一個正整數:10
1到 1 的整數和為 1
1到 2 的整數和為 3
1到 3 的整數和為 6
1到 4 的整數和為 10
1到 5 的整數和為 15
1到 6 的整數和為 21
1到 7 的整數和為 28
1到 8 的整數和為 36
1到 9 的整數和為 45
1到 10 的整數和為 55