<a href="https://colab.research.google.com/github/Yungchi1020/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('1')

1

In [7]:
i = 0
result = 0
while i <= 50:
  if i % 2 != 0:
    result += i
  i+=1
print("0-50的奇數和結果是%d" % result)

0-50的奇數和結果是625

In [8]:
i = 0
result = 0
while i <= 50:
  if i % 2 == 0:
    result += i
  i+=1
print("0-50的偶數和結果是%d" % result)

0-50的偶數和結果是650

In [9]:
n = int(input('請輸入正整數: '))
for i in range(1,n+1):
    for j in range(i,n+1):
      print("*" ,end=" ")
    print()

請輸入正整數: 10
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
sum = 0
for i in range(0,101):
  if(i%3==0 or i % 7==0):
    sum += i
print("數值 1-100 中,所以是3 和 7 倍數的數之總和= ",sum)

數值 1-100 中,所以是3 和 7 倍數的數之總和=  2208

In [21]:
p = 1
c=0
n = int(input("請輸入正整數: "))
print(n,"的因數有",end=" ")
while (p<=n):
  if(n%p==0):
    print(p,end=" ")
    c+=1
  p+=1

print()
if (c==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數: 2
2 的因數有 1 2
2 是質數

In [34]:
list1 = [1,2,3,4,5]

In [35]:
list1

[1, 2, 3, 4, 5]

In [23]:
list2 = ["香蕉","蘋果","橘子"]

In [24]:
list2

['香蕉', '蘋果', '橘子']

In [26]:
list3 = [1,"香蕉",True]

In [27]:
list3

[1, '香蕉', True]

In [36]:
print(list1)

[1, 2, 3, 4, 5]

In [30]:
print(list1[0])

1

In [31]:
print(list1[1])

2

In [37]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [39]:
list4 = ["香蕉","蘋果","橘子"]

In [40]:
print(list4[1])

蘋果

In [41]:
print(list4[0])
print(list4[1])
print(list4[2])

香蕉
蘋果
橘子

In [42]:
print(list4[3])

IndexError: ignored

In [43]:
print(list4[-1])
print(list4[-2])
print(list4[-3])

橘子
蘋果
香蕉

In [44]:
print(list4[-4])

IndexError: ignored

In [45]:
list5= [['tom',"1234"]],['mary','abcd'],['david','5678']

In [46]:
print(list5[1])

abcd

In [47]:
print(list5[0])

[['tom', '1234']]

In [48]:
print(list5[1][1])

abcd

In [49]:
print(list5[0][0])

['tom', '1234']

In [50]:
print(list5[1][0])

mary

In [52]:
print(list5[0][0][0])

tom

In [56]:
list6=["國文成績: 85分"],["數學成績: 79分"],["英文成績: 93分"]

In [58]:
print(list6[0])
print(list6[1])
print(list6[2])

['國文成績: 85分']
['數學成績: 79分']
['英文成績: 93分']

In [59]:
scores = [85, 79, 93]
print('國文成績: %d 分' % scores[0])
print('數學成績: %d 分' % scores[1])
print('英文成績: %d 分' % scores[2])

國文成績: 85 分
數學成績: 79 分
英文成績: 93 分

In [60]:
list7 = [1,2,3,4,5,]

In [61]:
print(list7[0])

1

In [63]:
list7[0] = 9

In [64]:
print(list7[0])

9

In [65]:
print(list7)

[9, 2, 3, 4, 5]

In [67]:
list8 = ["香蕉","蘋果","橘子"]

In [70]:
for s in list8:
  print(s,end=" ")

香蕉 蘋果 橘子

In [78]:
list9 = [123,"apple",True]

In [79]:
for list9 in list9:
  print(list9)

123
apple
True

In [80]:
scores =[85,79,93]

In [82]:
print(len(scores))

3

In [84]:
scores =[85,79,93]
for i in range(len(scores)):
  print(scores[i])

85
79
93

In [107]:
list10 = [85, 79, 93]
list11 = ["國文","數學","英文"]
for i in range(len(list10)):
  print(list11[i],"成績: %d 分" % list10[i])

國文 成績: 85 分
數學 成績: 79 分
英文 成績: 93 分

In [104]:
list12 = [1,2,3]
list13 = ["TOM","MARY","TONY"]
for i in range(len(list12)):
  print("編號: ",list12[i], " 姓名: ", list13[i])

編號:  1  姓名:  TOM
編號:  2  姓名:  MARY
編號:  3  姓名:  TONY